<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <!--tambah icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--link css-->
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body style="background-color: black">
<!--section-->
<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 style="color: white">Bank Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-primary pb-2">
                        <div class="card-body">
                            <i class="bi bi-bank"></i>
                            <h3 class="card-title">Bank Provider</h3>
                            <form action="bankprovider">
                                <button class="btn btn-primary" type="submit">Open</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-success pb-2">
                        <div class="card-body">
                            <i class="bi bi-bank"></i>
                            <h3 class="card-title">Tambah Rekening</h3>
                            <form action="tambahrekening">
                                <button class="btn btn-success" type="submit">Open</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-dark text-center bg-warning pb-2">
                        <div class="card-body">
                            <i class="bi bi-bank"></i>
                            <h3 class="card-title">Transfer Dana</h3>
                            <form action="transfer">
                                <button class="btn btn-warning" type="submit">Open</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="col-sm-2 offset-md-5">
        <div class="card text-white text-center bg-danger pb-2">
            <div class="card-body">
                <i class="bi bi-x-circle"></i>
                <h3 class="card-title">Logout</h3>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e"/>
                    <input class="btn btn-danger" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</section>
